#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

header {
  margin-top: 3vh;
  width: 100%;
  display: flex;
  justify-content: right;
}
header nav {
  margin-bottom: 20px;
}
a{
  margin: 20px;
}